<h3 class="pick_games"><strong>Pick your favorite games to get your winning numbers</strong></h3>
<div class="games">
	<div class="powerball"><%= link_to "Powerball", games_power_ball_path %></div><br>
	<div class="florida_lotto"><%= link_to "FLoridaLotto", games_florida_lotto_path %></div><br>
	<div class="cash_for_life"><%= link_to "Cash4Life", games_cash_for_life_path %></div><br>
	<div class="mega_millions"><%= link_to "MegaMillions", games_mega_millions_path %></div><br>
	<div class="lucky_money "><%= link_to "LuckyMoney", games_lucky_money_path %> </div><br>
	<div class="fantazy_five"><%= link_to "Fantazy5", games_fantazy_five_path %> </div><br>
	<div class="pick_five"><%= link_to "Pick5", games_pick_five_path %></div><br>
	<div class="pick_four"><%= link_to "Pick4", games_pick_four_path %> </div><br>
	<div class="pick_three"><%= link_to "Pick3", games_pick_three_path %></div><br>
	<div class="pick_two"><%= link_to "Pick2", games_pick_two_path %></div><br>
</div>
    
   <%= render "layouts/comments" %>
   <%= render "layouts/footer" %>

