<div class="container">
	<div class="jumbotron one">
	  <h3 class="be_rich">May you be fucking rich forever, <%= $site_name %></h3><br>
		<p class="numbers"><i>Here's your winning <strong>LuckyBall</strong>numbers for <%= $the_date.to_formatted_s(:long_ordinal) %></i></p>
		<h3 class="be_rich"><span><%= @one_to_47 + " and " + @ball %></span></h3><hr>
      <%= render "layouts/lotto_site" %>
     </div>
</div>

<%= render "layouts/footer" %>